<div class="chat-container">
  <div class="chat-messages" appAutoScroll>

    <div class="grid gap-y-2">

      <!-- Chat Messages -->
      <app-chat-message
        text="¡Hola! Soy Leo, tu asistente financiero personal.  

Puedo ayudarte a:  
• Analizar tu estado financiero actual  
• Revisar los balances de tus cuentas  
• Analizar tus gastos por categoría  
• Monitorear tus ingresos  
• Darte consejos financieros personalizados  

¿En qué puedo ayudarte hoy?"
      />

      @for (message of messages(); track $index) {
        @if( message.isGpt ) {
          <app-chat-message [text]="message.text"/>
        } @else {
          <app-my-message [text]="message.text"
          />
        }
      }






      @if (isLoading()) {
        <app-typing-loader />
      }



    </div>
  </div>

  <!-- MessageBox -->
  <app-text-message-box
    placeholder="Escribe aquí lo que deseas"
    (onMessage)="handleMessage($event)"
  />



</div>
